---
import Layout from '../layouts/Layout.astro';
import NavInternal from '../sections/NavInternal.astro';
import Footer from '../sections/Footer.astro';
---

<Layout
	title="Page not found."
	description="A collection of all the things you didn't know about JavaScript - JavaScripted for you!"
>
	<NavInternal />
	<main>
		<h1>404</h1>
		<p>If you think this page was supposed to exist, email <a href="mailto:j.lazaromoyano7@gmail.com">j.lazaromoyano7@gmail.com</a>.</p>
	</main>
	<Footer />
</Layout>

<style>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100lvh;
		align-items: center;
		justify-content: space-between;
	}
	main {
		width: 100%;
		max-width: 960px;
		margin-top: 1rem;
		padding: 1rem 0;
		text-align: center;
	}
	main h1 {
		width: 100%;
		margin-bottom: 2rem;
		font-size: var(--font-lg);
	}
</style>
