---
import LogoGithub from '../components/LogoGithub.astro';
---

<nav class="nav-main">
	<LogoGithub />
</nav>

<style>
	.nav-main {
		display: flex;
		height: var(--nav-height);
		align-items: center;
		justify-content: flex-end;
	}
</style>
